@font-face {
    font-family: netflix h1;
    src: url(components/font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: netflix p;
    src: url(components/font/NetflixSansLight.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}

html, body{
height: 100%;
width: 100%;
background-color:rgb(35 35 35);
}
h1, h2, h3, h4{
    font-family: netflix h1;
}
p, a{
    font-family: netflix p;
}
button{
    cursor: pointer;
}
.a-sec{
    height: 700px;
    width: 100%;
    background-image: url(components/netflix\ first\ banner.jpg);
    background-position: center;
    background-size: cover;
}
.sec{
    height: 700px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.last-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.netflix-logo{
    width: 15%;
    margin: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-button{
    height: 30px;
    width: 70px;
    border-style: none;
}
#select-language{
    margin: 10px;
    padding: 4px;
    width: 100px;
    color: white;
    background-color: #00000000;
    border: 1px solid rgba(255, 255, 255, 0.501);
    border-radius: 4px;
}
.sign-in-button{
    margin: 10px 40px 10px 10px;
    background-color: red;
    color: white;
    border: 1px solid rgba(131, 0, 0, 0.506);
    border-radius: 4px;
}
.a-sec-mid{
    width: inherit;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.email-for-subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.enter-email-a-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
#enter-email-address{
    height: 60px;
    width: 450px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.463);
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.722);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: medium;
    color: rgb(255, 255, 255);
}
.element{
    margin: 30px;
    padding: 20px;
}
.submit-email{
    height: 60px;
    width: 150px;
    margin: 10px;
    font-size: large;
}
.text-a-sec{
    margin: 10px;
}
h1{
    font-size: 60px;
}
.sec h1{
    font-size: 50px;
}
.a-sec p, .sec p, .last-sec p, label{
    font-size: 20px;
}
.a-sec-mid h1{
    margin: 10px 70px;
    text-align: center;
}
.overlay{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.409), rgba(0, 0, 0, 0.877));
    display: flex;
    flex-direction: column;
}



/* last section */

.last-sec{
    background-color: black;
}
.last-sec-title{
    padding: 10px;
    margin: 70px 0 20px 0;
}
.accordian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: netflix p;
}
.accordian li input[type="radio"]{
    display: none;
}
.accordian li{
    list-style: none;
}
.accordian li label{
    padding: 20px;
    background-color: rgb(35 35 35);
    max-width: 90vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4px;
    position: relative;
    transition: background-color 0.5s;
}
.accordian li .content{
    display: flex;
    padding: 0 20px;
    background-color: rgb(35 35 35);
    max-width: 90vw;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 4px;
    margin-top: 4px;
    word-spacing: 1px;
}
label::after{
    content: '+';
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
.accordian .content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: max-content;
    padding: 20px;
}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.accordian label:hover{
    background-color: rgb(62, 62, 62);
}
.faq-subscription{
    margin-top: 20px;
    margin-bottom: 50px;
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: black;
}
.footer a, .footer p{
    color: rgba(255, 255, 255, 0.641);
}
.second-footer .row{
    display: flex;
}
.second-footer .row .col a{
    margin: 8px;
}
.second-footer .col{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0 ;
}
.first-footer{
    margin: 12px 8px;
}
.fourth-footer{
    margin: 8px;
    display: flex;
    justify-content: space-between;
}


/* RESPONSIVNESS */

@media only screen and (max-width: 1040px){
    .netflix-logo{
        margin-top: 3vh;
        width: 100px;
    }
    #select-language{
        margin-top: 3vh;
        width: 80px;
    }
    .sign-in-button{
        margin-top: 3vh;
        width: 60px;
        margin-right: 7vw;
    }
    h1{
        font-size: 40px;
    }
    .a-sec p, .sec p, .last-sec p, label{
        font-size: 15px;
    }
    .a-sec p{
        text-align: center;
    }
    .enter-email-a-sec{
        width: 90vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .enter-email-a-sec #enter-email-address{
        height: 7vh;
        width: 80vw;
    }
    .enter-email-a-sec .submit-email{
        height: 7vh;
        width: 40vw;
        font-size: 15px;
    }
    .element h1{
        font-size: 34px;
    }
    .element p{
        font-size: 15px;
    }
    .sec{
        height: 80vh;
        padding-top: 7vh;
        padding-bottom: 9vh;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-evenly;
    }
    .element{
        margin: 0vh 10vw;
        padding: 0 10vw;
    }
    .sec img{
        margin: 2vh 4vw;
        width: 40vw;
    }
    .sec1{
        flex-direction: column-reverse;
    }
    h1.last-sec-title{
        text-align: center;
        font-size: 30px;
    }
    p.text-a-sec{
        margin: 1vw 10vw;
    }
    .second-footer .row{
        flex-direction: column;
    }


}

@media only screen and (max-width: 600px){
    .netflix-logo{
        margin-top: 3vh;
        width: 100px;
    }
    #select-language{
        margin-top: 3vh;
        width: 80px;
    }
    .sign-in-button{
        margin-top: 3vh;
        width: 60px;
        margin-right: 7vw;
    }
    h1{
        font-size: 40px;
    }
    .a-sec p, .sec p, .last-sec p, label{
        font-size: 15px;
    }
    .a-sec p{
        text-align: center;
    }
    .enter-email-a-sec{
        width: 90vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .enter-email-a-sec #enter-email-address{
        height: 7vh;
        width: 80vw;
    }
    .enter-email-a-sec .submit-email{
        height: 7vh;
        width: 40vw;
        font-size: 15px;
    }
    .element h1{
        font-size: 34px;
    }
    .element p{
        font-size: 15px;
    }
    .sec{
        height: 80vh;
        padding-top: 7vh;
        padding-bottom: 9vh;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-evenly;
    }
    .element{
        margin: 0vh 10vw;
        padding: 0 10vw;
    }
    .sec img{
        margin: 2vh 4vw;
        width: 70vw;
    }
    .sec1{
        flex-direction: column-reverse;
    }
    h1.last-sec-title{
        text-align: center;
        font-size: 30px;
    }
    p.text-a-sec{
        margin: 1vw 10vw;
    }
    .second-footer .row{
        flex-direction: column;
    }


}